extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title

  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            if event.reviews && event.reviews.length > 0
              +outputRating(getAverageRating(event.reviews))
          p Location: #{event.location}
          p Date: #{new Date(event.fromDate).toLocaleDateString('en-GB')} to #{new Date(event.toDate).toLocaleDateString('en-GB')}
          p Time: #{event.time}  

      .card.card-primary
        .card-block
          h2.card-title Event Description
          if event.description
            p=event.description
          else
            p No description available for this event.

      .card.card-primary
        .card-block
          h2.card-title Facilities
          if event.facilities && event.facilities.length > 0
            each facility in event.facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp;#{facility}
          else
            p No facilities available for this event.

      // Attend Event button (with authentication check)
      .card.card-primary
        .card-block
          if isAuthenticated
            a.btn.btn-success(href=`/events/${encodeURIComponent(event.name)}/attend`) Attend Event
          else
            p Hey..!  
            a(href="/login") log in
            |  or 
            a(href="/signup") sign up
            |  to attend this event.

    .col-12
      .card.card-primary.review-card
        .card-block
          //a.btn.btn-primary.float-right(href=`/events/${event.name}/review/new`) Add Review
          h2.card-title Customer Reviews
          if event.reviews && event.reviews.length > 0
            each review in event.reviews
              .row.review
                .col-12.no-gutters.review-header
                  span.rating
                    +outputRating(review.rating)
                  span.reviewAuthor #{review.author}
                  small.reviewTimestamp #{new Date(review.timestamp).toLocaleDateString('en-GB')}
                .col-12
                  p !{(review.reviewText).replace(/\n/g, '<br/>')}
          else
            p No reviews yet. Be the first to add a review!

    .col-12.col-lg-3
      p.lead #{event.name} - #{sidebar.context}
      p= sidebar.callToAction
